# build artifacts
dist

# dependency management
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*

# unknown, inherited from starter template
.vscode-test/
*.vsix

# git / radicle
.gitsigners

# wdio
.wdio-vscode-service
